[submodule "linux"]
	path = linux
	url = https://github.com/Arawn-Davies/ps2linux.git
[submodule "ps2facts"]
	path = ps2facts
	url = https://github.com/Arawn-Davies/ps2facts.git
[submodule "whiterhino"]
	path = whiterhino
	url = https://github.com/Arawn-Davies/whiterhino.git
	branch = whiterhino
